<!doctype html>
<style>
form {
    margin: auto;
    width: 30%
}

.result {
    margin: auto;
    width: 30%;
    border: 5px solid #ccc;    
}
</style>

<head>
    <title>Прогнозирование соотношения матрица-наполнитель</title>
</head>

<head>
    <center>
        <br>
        <b style="font-size:20px">
        Прогнозирование соотношения матрица-наполнитель
        </b>
        <br>
        <br>
    </center>
</head>

<form action="{{url_for('main')}}" method="POST">
    <fieldset>
        <center>     
            <legend>Введите значения, входящие в указанные диапазоны</legend>
            <br>
            Плотность, кг/м3 (1700...2300)
            <br>
            <input name = "var2" type="float"
            required>
            <br>
            Модуль упругости, ГПа (2...2000)
            <br>
            <input name = "var3" type="float"
            required>
            <br>
            Количество отвердителя, м.% (17...200)
            <br>
            <input name = "var4" type="float"
            required>
            <br>
            Содержание эпоксидных групп,%_2 (14...34)
            <br>
            <input name = "var5" type="float"
            required>
            <br>
            Температура вспышки, С_2 (100...414)
            <br>
            <input name = "var6" type="float"
            required>
            <br>
            Поверхностная плотность, г/м2 (0.6...1400)
            <br>
            <input name = "var7" type="float"
            required>
            <br>
            Модуль упругости при растяжении, ГПа (64...83)
            <br>
            <input name = "var8" type="float"
            required>
            <br>
            Прочность при растяжении, МПа (1036...3849)
            <br>
            <input name = "var9" type="float"
            required>
            <br>
            Потребление смолы, г/м2 (33...414)
            <br>
            <input name = "var10" type="float"
            required>
            <br>
            Угол нашивки, град(0 или 90)
            <br>
            <input name = "var11" type="float"
            required>
            <br>
            Шаг нашивки(0...15)
            <br>
            <input name = "var12" type="float"
            required>
            <br>
            Плотность нашивки (0...104)
            <br>
            <input name = "var13" type="float"
            required>
            <br>
            <br>
            <input type="submit">
        </center>
    </fieldset>
</form>

<div class="result" align="center">
    {% if result%}
        <br>
        <p style="font-size:20px">
        Прогнозное соотношение матрица-наполнитель
        </p>
        <p style="font-size:20px"> {{result}}</p>
    {% endif %}
</div> 
    